.spacer {
  flex: 1;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  color: white;
  font-weight: 600;
  box-shadow: 0 2px 5px gray;
  overflow: hidden;
}
.toolbar button {
  border: 0;
}

.toolbar img {
  margin: 0 16px;
}

.toolbar .logo {
  height: 40px;
  margin: 0 16px;
}

.toolbar .logo:hover {
  opacity: 0.8;
}

.toolbar ul.main-navigation {
  position: relative;
  right: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-position: inside;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.toolbar ul.main-navigation li {
  margin: 0 6px;
  padding: 0;
  cursor: pointer;
}

.toolbar .home-span {
  font-size: 1.1rem;
  margin-left: 10px;
}

.toolbar .sidebar-button {
  margin: 0 15px !important;
}

.sidebar {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2000;
}

@media screen and (max-width: 768px) {
  .toolbar ul.main-navigation {
    display: none;
  }

  .toolbar .sidebar-button {
    display: inline-block !important;
  }

  .sidebar {
    display: block;
  }
}

.toolbar .sidebar-button {
  display: none;
}
.toolbar .shopping-cart-icon {
  position: relative;
  right: 40px;
  transition: width 1s;
}

.toolbar .shopping-cart-icon:hover {
  box-shadow: 0 5px 10px gray;
  border-radius: 4px;
  width: 40px;
}

.nav-link:hover {
  border-radius: 4px;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  font-weight: 400;
  font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial,
    Lucida Grande, sans-serif;
  text-transform: uppercase;
}

.sidebar-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
  color: black;
  font-size: 0.9rem;
  font-weight: 400;
}

.mat-drawer-inner-container {
  width: 70%;
  min-width: 300px;
}

.sidenav-link:hover {
  border-radius: 4px;
}

.sidenav-link {
  text-decoration: none;
  font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial,
    Lucida Grande, sans-serif;
  text-transform: uppercase;
}

.mat-drawer-inner-container ul {
  list-style-position: inside;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.mat-drawer-inner-container ul li {
  padding: 5px 15px;
  margin: 10px 0;
}

.sidebar .mat-icon-sm {
  margin-right: 10px;
}
