.spacer {
  flex: 1;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  box-shadow: 0 2px 5px gray;
  overflow: hidden;
}
.toolbar button {
  background-color: #1976d2;
  border: 0;
}

.toolbar img {
  margin: 0 16px;
}

.toolbar .logo {
  height: 40px;
  margin: 0 16px;
}

.toolbar .logo:hover {
  opacity: 0.8;
}

.toolbar ul.main-navigation {
  position: relative;
  right: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-position: inside;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.toolbar ul.main-navigation li {
  margin: 0 6px;
  padding: 0;
  cursor: pointer;
}

@media (max-width: 768px) {
  .toolbar ul.main-navigation {
    display: none;
  }
}

.toolbar .shopping-cart-icon {
  position: relative;
  right: 40px;
  transition: width 1s;
}

.toolbar .shopping-cart-icon:hover {
  background-color: #90caf9;
  box-shadow: 0 5px 10px gray;
  border-radius: 4px;
  width: 40px;
}

.toolbar .nav-link:hover {
  background-color: #90caf9;
  border-radius: 4px;
}

.toolbar .nav-link {
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  font-weight: 400;
  font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial,
    Lucida Grande, sans-serif;
  text-transform: uppercase;
}
