.example-right-align {
  text-align: right;
}

input.example-right-align {
  -moz-appearance: textfield;
}

.register-form button + button {
  margin-left: 10px;
}

.register-form .mat-accordion {
  padding: 2px !important;
  margin-top: 2px !important;
  margin-bottom: 5px !important;
}
