<mat-drawer-container class="sidebar-container" autosize>
  <mat-drawer
    #drawer
    name="drawer"
    id="drawer"
    class="sidebar"
    mode="over"
    (click)="closeSidebar()"
  >
    <p>Auto-resizing sidenav</p>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button>
    <ul>
      <li>
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
      <li>
        <a class="nav-link" routerLink="/order">Order</a>
      </li>
      <li><a class="nav-link" routerLink="/admin">Admin</a></li>
    </ul>
  </mat-drawer>

  <div class="sidebar-content" (click)="closeSidebar()"></div>
</mat-drawer-container>
