<div class="content" role="main">
  <div [@openClose]="isOpen ? 'open' : 'closed'" class="open-close-container">
    <h2 class="homepage-h2">Top 3 products sold</h2>
    <table class="homepage-ranking">
     
      <th>Product</th>
      <th>Achieved(%)</th>

      <tr>
        <th>Aero Oil&nbsp;(&nbsp;$100M)</th>
        <td>
          <mat-progress-bar
            color="warn"
            mode="determinate"
            value="100"
          ></mat-progress-bar>
        </td>
      </tr>
      <tr>
        <th>Engine Oil&nbsp;(&nbsp;$90M)</th>

        <td>
          <mat-progress-bar
            color="accent"
            mode="determinate"
            value="60"
          ></mat-progress-bar>
        </td>
      </tr>
      <tr>
        <th>Essence&nbsp;(&nbsp;$60M)</th>

        <td>
          <mat-progress-bar
            color="primary"
            mode="determinate"
            value="40"
          ></mat-progress-bar>
        </td>
      </tr>
    </table>
  </div>
</div>
