<div class="content" role="main">
  <p>newcart works!</p>
  <form #cartForm="ngForm" (ngSubmit)="submit(cartForm.value)">
    <div>{{ cartForm.value | json }}</div>
    <label for="name">Name:</label>
    <input #name="ngModel" required ngModel type="text" name="name" id="name" />
    <div>{{ name.value }} is ok</div>
    <div>{{ name.valid }}</div>
    <button (click)="addItem()">Add a item</button>
    <div class="item-container">
      <ng-container *ngFor="let item of itemList; let i = index">
        <app-item-card [product]="item"></app-item-card>
      </ng-container>
    </div>
  </form>
</div>
