<div class="container" role="main">
  Reports base on monthly sales data
  <nav class="admin">
    <ul style="line-height: 1.5rem">
      <li>
        <a
          class="nav-link"
          routerLink="orders"
          routerLinkActive="active-link"
          >{{ "most profitabl products" | titlecase }}</a
        >
      </li>
      <li>
        <a class="nav-link" routerLink="channels" routerLinkActive="active-link"
          >channels</a
        >
      </li>
    </ul>
  </nav>

  <router-outlet></router-outlet>
</div>
