<mat-card class="item-card">
  <img
    mat-card-image
    src="assets/motor1.jpg"
    alt="Photo of a Shiba Inu"
    (click)="onClick(product._id)"
  />
  <mat-card-content>
    <p (click)="onClick(product._id)">
      • 75% more engine protection against horsepower loss and wear.1 • 50% more
      cleaning power vs. AMSOIL OE Motor Oil
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button
      *ngIf="quantity === 0; else updateQuantity"
      mat-raised-button
      color="primary"
      style="width: 100%"
      (click)="setInitQty()"
    >
      Add to Cart
    </button>
    <!-- Number -->
    <ng-template #updateQuantity>
      <mat-form-field class="example-full-width">
        <input
          matInput
          type="number"
          placeholder="quantity"
          [value]="quantity"
          (change)="onChangeQty($event)"
        />
      </mat-form-field>
    </ng-template>
  </mat-card-actions>
</mat-card>
